  <div class="container">
      <span class="text">Todos</span>
    <app-notificator [notification]="notification.toString()"></app-notificator>
      <app-new-todo (onAddNewTodo)="updateList($event)"
      ></app-new-todo>
      <app-search
        (onChangeSearchStr)="this.searchStr = $event"
      ></app-search>
      <app-priority-filter
      (onChangeFilterPriority)="this.priorityFilter = $event">
      </app-priority-filter>
      <app-todo
          (onRemoveTodo)="removeTodo($event)"
          (onDoneTodo)="todoService.updateState($event,this.todoList)"
          (onChangePriority)="todoService.changePriority($event,this.todoList)"
        *ngFor="let todo of todoService.getUndoneTodoList(todoList) | priority:this.priorityFilter | searchName:this.searchStr"
          [todo]="todo"
      >
      </app-todo>
  </div>

  <div class="container">
    <span class="text">Todos done</span>
    <app-todo
      (onRemoveTodo)="removeTodo($event)"
      (onDoneTodo)="todoService.updateState($event,this.todoList)"
      (onChangePriority)="todoService.changePriority($event,this.todoList)"
      *ngFor="let todo of todoService.getDoneTodoList(todoList)"
      [todo]="todo"
    >
    </app-todo>
  </div>
